.navbar .btn{
	background-color: #ca3542;
	border: none;
	border-radius: 0;
	height: 35px;
}
.navbar input{
	border: none;
	border-radius: 0;
	height: 35px;
}
.navbar img{
	margin-right: 10px; 
}
.carousel-item {
	height: 635px;
}
.carousel-item .display-4 {
	margin-top: -400px;
}
.carousel-item .btn {
	background-color: #ca3542;
	border: none;
	border-radius: 0;
}
.carousel-item hr{
	background-color: #ca3542;
	width: 70px;
	border-width: 3px;
}
.carousel-item .menu{
	font-color: #333c3e 
}
.carousel-item-control {
	animation-timing-function: 3s;
}
.footer{
	background-color: #ca3542;
	height: 250px;
}
.footer h1{
	color: white;
}
.footer p{
	color: white;
}